/* style.css */
body {
margin: 0;
font-family: "Segoe UI", sans-serif;
background: #0a0f24;
overflow-x: hidden;
color: white;
}


/* Fondo animado con canvas */
#bg-canvas {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
z-index: -2;
}


/* Glassmorphism */
.glass-header, .glass-box {
background: rgba(255, 255, 255, 0.08);
backdrop-filter: blur(8px);
border: 1px solid rgba(0, 200, 255, 0.4);
box-shadow: 0 0 20px #00b7ff44;
border-radius: 15px;
}


header {
padding: 15px 30px;
display: flex;
justify-content: space-between;
align-items: center;
position: sticky;
top: 0;
z-index: 10;
}


.logo {
font-size: 2rem;
letter-spacing: 3px;
color: #00ddff;
text-shadow: 0 0 10px #00ddff;
}


nav a {
margin-left: 20px;
color: #00ddff;
text-decoration: none;
font-weight: bold;
transition: .3s;
}
nav a:hover {
text-shadow: 0 0 10px #00ddff;
}


.descripcion {
width: 85%;
margin: 30px auto;
padding: 20px;
